*{
    margin: 0;
}
body{
    background-color: #f5f6fa;
}

.app{
    display: flex;
    justify-content: space-evenly;
    padding: 3rem;
}

.infected {
    border-bottom: 10px solid rgba(255, 0, 0, 0.5);
}

.recovered {
    border-bottom: 10px solid rgba(0, 255, 0, 0.5);
}

.deaths {
    border-bottom: 10px solid rgba(0, 0, 0, 0.5);
}

.active {
    border-bottom: 10px solid rgba(0, 0, 255, 0.5);
}

.app__left{
    flex: 0.5;
}

.app__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 1rem;
}

.app__stats{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app__information{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.graph__container{
    margin-top: 2rem;
}

.country__name {
    margin-left: 0.9rem;
}

@media screen and (max-width: 990px){
    .app{
        flex-direction: column;
    }
    .app__right{
        padding-top: 5rem;
    }
}